<div class="container-fluid mt-3">
  <div class="card bg-dark text-white">
    <img src="https://source.unsplash.com/1300x800/?dark,black" class="card-img" alt="">
    <div class="card-img-overlay">
      <h5 class="card-title fs-1 border-dark fw-bold">About Web Notes</h5>
      <p class="card-text fst-normal">Web Notes is a simple frontend app to help you store notes locally on your device
        so you can access them anytime you want</p>
      <p class="card-text">created with Angular 11</p>
    </div>
  </div>
</div>