<div class="container">
  <div class="card mt-3 mb-3">
    <img src="https://source.unsplash.com/1300x400/?notes,book,pen" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title fw-bold">Welcome to Web Notes</h5>
      <p class="card-text Light weight text">A simple web app that allows you to write and store notes on the
        device, making
        it accessible without installing any application</p>
      <p class="card-text"><small class="text-muted">Created with Angular</small></p>
    </div>
  </div>
  <div class="container border border-dark rounded bg-secondary mb-5">
    <div>
      <div class="mt-3 row">
        <div class="col d-flex justify-content-center">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            New Notebook
          </button>
        </div>
        <div class="collapse " id="collapseExample">
          <div class="card card-body m-4">
            <app-add-note (createNoteEmitter)="listenCreateEmitter($event)"></app-add-note>
          </div>
        </div>
      </div>

      <div class="position-relative p-3">
        <div *ngIf="notesArr.length <1; else elseBlock" class="text-center">
          <p class="fs-3">No Notes to Display</p>
        </div>
        <ng-template #elseBlock>
          <div *ngFor="let note of notesArr">
            <div *ngIf="note.active; else elseBlock">
              <app-specific-note [note]='note' (swipeleft)="next()" (swiperight)="previous()"
                (deleteNoteEmitter)="listenDeleteEmitter($event)" (starNoteEmitter)="listenStarEmitter($event)">
              </app-specific-note>
            </div>
            <ng-template #elseBlock>
              <app-specific-note style="display: none;" [note]='note' (deleteNoteEmitter)="listenDeleteEmitter($event)">
              </app-specific-note>
            </ng-template>
          </div>

          <div class="m-5">
            <button class="btn btn-secondary position-absolute bottom-0 start-0" style="outline: none;
            box-shadow: none;" (click)="previous()"><span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span></button>
            <button class="btn btn-secondary position-absolute bottom-0 end-0" style="outline: none;
            box-shadow: none;" (click)="next()"><span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span></button>
            <p class="position-absolute bottom-0 start-50 translate-middle-x fw-normal text-light">
              {{activeNote+1+" of "+notesArr.length}}
            </p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>